*{
  box-sizing: border-box;
}

 body{
    color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.jumbotron1 {
  height: 120px;
  background: linear-gradient(to bottom right, #ee0979, #ff6a00);
  color: rgb(238, 46, 116);
}

.row {
  /*margin-left: 50px;*/
  color: #232b2b;
  text-align: center;
}


/* structure css code */

.card {
  width: 240px;
  height: 300px;
  position: relative;
  border-radius: 18px;
  margin-left: 10px;
  margin-top: 20px;
  text-align: center;
  color:black;
  display: inline-block;
  cursor: pointer
}

.card .front {
  position: absolute;
  border-radius: 20px;
  border-right: 2px solid white;
  border-top: 2px solid white;
  border-left: 2px solid white;
  width: 100%;
  /* height: 100%; */
  background: rgba(0,0,0,0.8);
  backface-visibility: hidden;
  height: 300px;
  transition: transform 0.55s linear;
  transform: perspective(600px) rotateY(0deg);
  
}
.card .front .image {
  border-radius: 18px;
  height: 160px;
}

.card .front .desc {
  height: auto;
  padding: 20px;
  
  color: #fff;
  border-radius: 18px;
  
  
  font-family: Nunito Sans;
  font-size: 13.5px;
  text-align: center;
}
.card .back {
  position: absolute;
  border-radius: 18px;
  
  box-shadow:0px 0px 5px rgba(0,0,0,0.5);
  text-align: justify;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
  transition: transform 0.55s linear;
 
  font-size: 12px;
  padding: 8px;
  overflow-wrap: break-word;

  transform: perspective(600px) rotateY(180deg)
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  max-height: 64px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-family: Nunito Sans;
  font-size: 14px;
}

.card:hover .front {
  transform: perspective(600px) rotateY(-180deg)
}

.card:hover .back {
  transform: perspective(600px) rotateY(0deg)
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 18px 18px 0px 0px;
}

.author {
  text-align: center;
  font-family: 'Lato', serif;
  font-size: 16px;
  line-height: 162%;
  font-weight: 500;
  text-transform:uppercase;
}

.author:after{
  display:block;
  height:2px;
  content:'';
  width:40%;
  background-color:#ff6a00;
  margin:10px auto;
}

.heading {
  color: black;
  font-size: 60px;
}

.under {
  text-align: center;
  width: 100px;
  border-bottom: 2px solid currentColor;
  color: rgb(255, 193, 193);
}

.card .front button {
  position: absolute;
  z-index: 3;
  float: left;
  left: 6px;
  top: 6px;
  border-radius:50%;
  background:rgba(255,255,255,0.3);
  
  border:2px solid white;
}

.name {
  color: rgb(146, 146, 146);
}

button a {
  color: #fff;
}

button a:hover {
  color: #fff;
  text-decoration: none;
}

.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open>.dropdown-toggle.btn-success.focus,
.open>.dropdown-toggle.btn-success:focus,
.open>.dropdown-toggle.btn-success:hover {
  color:red;
  background-color: #ee0979;
  border-color: #ee0979;
}

.btn-success,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
  position: absolute;
  bottom:24%;
  left:28%;
  text-transform: uppercase;
  font-size:90%;
  letter-spacing: 0.5px;
  font-family: 'Lato', sans-serif;
  font-weight:700;
  background-color: #232b2b;
  
  border:1px solid #232b2b;
  transition:all 100ms ease-in-out;
  
}

.btn-success:hover{
  background-color:#ff6a00;
  
  border:1px solid transparent;
  transition:all 100ms ease-in-out;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: linear-gradient(to bottom right, #1565c0, #bbdefb);
  border-color: white;
  border-radius: 10px;
}

#footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.give-color {
  color: white;
}

.fa-heart {
  color: #b20505;
}

#link-to-fossiiita {
  color: black;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}

.row h1 {
  font-size: 30px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 15px;
  background: #bbdefb;
}

::-webkit-scrollbar-thumb {
  background: #232b2b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1565c0;
}

#tech-radar{
  background: url("../images/tech_radar.png");
  background-size: 100% 22%;
  background-repeat: no-repeat;
  background-position: bottom;
}

#the-verge{
  background: url("../images/the_verge.png");
  background-size: 100% 22%;
  background-repeat: no-repeat;
  background-position: bottom;
}

#hacker-news{
  background: url("../images/hacker_news.jpg");
  background-size: 100% 22%;
  background-repeat: no-repeat;
  background-position: bottom;
}

#recode{
  background: url("../images/recode.png");
  background-size: 100% 22%;
  background-repeat: no-repeat;
  background-position: bottom;
}

#the-next-web{
  background: url("../images/the_next_web.png");
  background-size: 100% 22%;
  background-repeat: no-repeat;
  background-position: bottom;
}

#wired{
  background: url("../images/wired.png");
  background-size: 100% 22%;
  background-repeat: no-repeat;
  background-position: bottom;
}

#new-scientist {
  background: url(../images/new_scientist.png);
  background-size: 100% 22%;
  background-repeat: no-repeat;
  background-position: bottom;
}

#talksport{
  background: url("../images/talksport.png");
  background-size: 100% 22%;
  background-repeat: no-repeat;
  background-position: bottom;
}

#buzzfeed{
  background: url("../images/buzzfeed.jpg");
  background-size: 100% 22%;
  background-repeat: no-repeat;
  background-position: bottom;
}
#star-box
{ 
  padding: 10px;
  outline: none;
  user-select: none;
  border: none;
  border-radius: 10px 0px 0px 10px;
  background-color: #002346;
  color: white;
}
#star
{
 
  padding: 10px;
  outline: none;
  user-select: none;
  border-radius: 0px 10px 10px 0px;
  background-color:white;
  color: #002346;
  border: none;
  font-weight: 600;
}
.st
{
  position: absolute;
  right: 20px;
}
@media (max-width: 420px)
{
  .st{
    position: relative;
    left: 50%;
    transform: translate(-50%,+35%);
    padding: 10px;
  }
}






body {
  background-color:white;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.container {
  display : none ; /* To hide the content div */  
}
  
