body {
  background: linear-gradient(to bottom right, #ee0979, #ff6a00);
}
.jumbotron1{
  height : 120px;
 background: linear-gradient(to bottom right, #ee0979, #ff6a00);
 color : rgb(238, 46, 116);
}
     .row {
       /*margin-left: 50px;*/
       color :  #232b2b;
       text-align: center;
     }
     /* structure css code */

   .card {
  width: 260px;
  height: 320px;
  position: relative;
  border-radius: 18px;
  margin-left: 10px;
  margin-top: 20px;
  text-align: center;
  color: #fff;
  
  display : inline-block;
  cursor: pointer
}

   .card .front {
   position: absolute;
   border-radius: 18px;
   width: 100%;
   height: 100%;
   background: #2b2323;
   backface-visibility: hidden;
   transform: perspective(600px) rotateY(0deg);
   transition: transform 0.55s linear
}
.card .front .image  {
 border-radius: 18px;
height : 180px;

}
.card .front .desc  {
height : 140px;
padding : 5px;
text-align: left;
color : #fff;
border-radius: 18px;
background: #232b2b;
font-size: 15px;

}
   .card .back {

   position: absolute;
   border-radius: 18px;
   text-align: justify;
   width: 100%;
   height: 100%;
   background: #232b2b;
   backface-visibility: hidden;
   transform: perspective(600px) rotateY(180deg);
   transition: transform 0.55s linear;
   padding: 18px;
}

   .card:hover .front {
   transform: perspective(600px) rotateY(-180deg)
}

   .card:hover .back {
   transform: perspective(600px) rotateY(0deg)
}
.card img {
 width : 100%; height : 100%;
 border-radius: 18px 18px 0px 0px;
}
.author{
 text-align: left;
}

.heading {
 color : rgb(255, 255, 255);
 font-size : 80px;
 
}
.under {
 text-align: center;
 width : 100px;
 border-bottom: 2px solid currentColor;
 color: rgb(255, 193, 193);
}
.card .front button {
 position: absolute;
 z-index: 3;
 float: left;
 left : 6px;
 top : 6px;

}
.name {
 color : rgb(146, 146, 146);
}
button a {
 color : #fff;
}
button a:hover  {
   color : #fff;
   text-decoration: none ;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
   background-color:  #ee0979 ;
   border-color:  #ee0979 ;
}

