body {
  background: linear-gradient(to bottom right, #1565c0, #bbdefb);
}
.jumbotron1{
  height : 120px;
 background: linear-gradient(to bottom right, #ee0979, #ff6a00);
 color : rgb(238, 46, 116);
}
     .row {
       /*margin-left: 50px;*/
       color :  #232b2b;
       text-align: center;
     }
     /* structure css code */

   .card {
  width: 240px;
  height: 260px;
  position: relative;
  border-radius: 18px;
  margin-left: 10px;
  margin-top: 20px;
  text-align: center;
  color: #fff;

  display : inline-block;
  cursor: pointer
}

   .card .front {
   position: absolute;
   border-radius: 18px;
   width: 100%;
   height: 100%;
   background: #2b2323;
   backface-visibility: hidden;
   transform: perspective(600px) rotateY(0deg);
   transition: transform 0.55s linear
}
.card .front .image  {
 border-radius: 18px;
height : 160px;

}
.card .front .desc  {
height : 100px;
padding : 5px;
text-align: left;
color : #fff;
border-radius: 18px;
background: #232b2b;
font-size: 12px;

}
   .card .back {

   position: absolute;
   border-radius: 18px;
   text-align: justify;
   width: 100%;
   height: 100%;
   background: #232b2b;
   backface-visibility: hidden;
   transform: perspective(600px) rotateY(180deg);
   transition: transform 0.55s linear;
   font-size: 12px;
   padding: 18px;
   overflow-wrap: break-word;
}
.description{
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;    
   max-height: 64px;   
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;

}

   .card:hover .front {
   transform: perspective(600px) rotateY(-180deg)
}

   .card:hover .back {
   transform: perspective(600px) rotateY(0deg)
}
.card img {
 width : 100%; height : 100%;
 border-radius: 18px 18px 0px 0px;
}
.author{
 text-align: left;
}

.heading {
 color : rgb(255, 255, 255);
 font-size : 60px;

}
.under {
 text-align: center;
 width : 100px;
 border-bottom: 2px solid currentColor;
 color: rgb(255, 193, 193);
}
.card .front button {
 position: absolute;
 z-index: 3;
 float: left;
 left : 6px;
 top : 6px;

}
.name {
 color : rgb(146, 146, 146);
}
button a {
 color : #fff;
}
button a:hover  {
   color : #fff;
   text-decoration: none ;
}
.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
    color: #fff;
    background-color: #ee0979;
    border-color: #ee0979;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
   background-color:  #ee0979 ;
   border-color:  #ee0979 ;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color:  #ee0979 ;
  border-color:  #ee0979 ;
}

.row h1 {
  font-size: 30px;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 15px;
	background: linear-gradient(to bottom right, #ee0979, #ff6a00);
}
 
::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}
