body {
  background: linear-gradient(to bottom right, #1565c0, #bbdefb);
}

.jumbotron1 {
  height: 120px;
  background: linear-gradient(to bottom right, #ee0979, #ff6a00);
  color: rgb(238, 46, 116);
}

.row {
  /*margin-left: 50px;*/
  color: #232b2b;
  text-align: center;
}


/* structure css code */

.card {
  width: 240px;
  height: 300px;
  position: relative;
  border-radius: 18px;
  margin-left: 10px;
  margin-top: 20px;
  text-align: center;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  
  
  box-sizing:border-box;
}

.card .front {
  position: absolute;
  border-radius: 20px;
  border-right: 2px solid white;
  border-top: 2px solid white;
  border-left: 2px solid white;
  width: 100%;
  /*height: 100%;*/
  background: #2b2b2b;
  backface-visibility: hidden;
  transform: perspective(600px) rotateY(0deg);
  transition: transform 0.55s linear;
  box-sizing:border-box;
}

.card .front .image {
  border-radius: 18px;
  height: 160px;
}

.card .front .desc {
  height: 100px;
  padding: 5px;
  text-align: left;
  color: #fff;
  border-radius: 18px;
  background: #232b2b;
  font-size: 12px;
  font-family: Nunito Sans;
  font-size: 13px;
}

.card .back {
  position: absolute;
  border-radius: 18px;
  border: 2px solid white;
  border-bottom: 0;
  box-shadow:5px 5px 5px rgba(0,0,0,0.5);
  text-align: justify;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: perspective(600px) rotateY(180deg);
  transition: transform 0.55s linear;
  font-size: 12;
  overflow-wrap: break-word;
  box-sizing:border-box;
  padding:20px;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  max-height: 64px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-family: Nunito Sans;
  font-size: 14px;
}

.card:hover .front {
  transform: perspective(600px) rotateY(-180deg)
}

.card:hover .back {
  transform: perspective(600px) rotateY(0deg)
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 18px 18px 0px 0px;
}

.author {
  text-align: left;
  font-family: Nunito Sans;
  font-size: 14px;
  text-transform:uppercase;
  font-weight:bold;
  letter-spacing: 1px;
}

.heading {
  color: rgb(255, 255, 255);
  font-size: 60px;
}

.under {
  text-align: center;
  width: 100px;
  border-bottom: 2px solid currentColor;
  color: rgb(255, 193, 193);
}

.card .front button {
  position: absolute;
  z-index: 3;
  float: left;
  left: 6px;
  top: 6px;
}

.name {
  color: rgb(146, 146, 146);
}

button a {
  color: #fff;
}

button a:hover {
  color: #fff;
  text-decoration: none;
}

.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open>.dropdown-toggle.btn-success.focus,
.open>.dropdown-toggle.btn-success:focus,
.open>.dropdown-toggle.btn-success:hover {
  color: #fff;
  background-color: #ee0979;
  border-color: #ee0979;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
  position: absolute;
  top: 259px;
  left: 70px;
  background-color: #232b2b;
  border-color: #232b2b;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: linear-gradient(to bottom right, #1565c0, #bbdefb);
  border-color: white;
  border-radius: 10px;
}

#footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.give-color {
  color: white;
}

.fa-heart {
  color: #b20505;
}

#link-to-fossiiita {
  color: black;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}

.row h1 {
  font-size: 30px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 15px;
  background: linear-gradient(to bottom right, #ee0979, #ff6a00);
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

#tech-radar{
background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c33764, #1d2671); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #c33764, #1d2671); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: contain;
  background-repeat: no-repeat;
  
}

#the-verge{
background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c33764, #1d2671); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #c33764, #1d2671); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

#hacker-news{
background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c33764, #1d2671); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #c33764, #1d2671); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

#recode{
background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c33764, #1d2671); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #c33764, #1d2671); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

#the-next-web{
background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c33764, #1d2671); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #c33764, #1d2671); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

#wired{
background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c33764, #1d2671); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #c33764, #1d2671); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

#new-scientist{
background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c33764, #1d2671); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #c33764, #1d2671); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

#talksport{
background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c33764, #1d2671); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #c33764, #1d2671); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

#buzzfeed{
background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c33764, #1d2671); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #c33764, #1d2671); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
#star-box
{ 
  padding: 10px;
  outline: none;
  user-select: none;
  border: none;
  border-radius: 10px 0px 0px 10px;
  background-color: #002346;
  color: white;
}
#star
{
 
  padding: 10px;
  outline: none;
  user-select: none;
  border-radius: 0px 10px 10px 0px;
  background-color:white;
  color: #002346;
  border: none;
  font-weight: 600;
}
.st
{
  position: absolute;
  right: 20px;
}
@media (max-width: 420px)
{
  .st{
    position: relative;
    left: 50%;
    transform: translate(-50%,+35%);
    padding: 10px;
  }
}